[submodule "Code and Experiments/modules/sknw_mswi"]
	path = MSWI_Stroke_Fragmentation/modules/sknw_mswi
	url = https://github.com/justjude97/sknw_mswi.git
[submodule "MSWI_Stroke_Fragmentation/modules/qdanalysis"]
	path = MSWI_Stroke_Fragmentation/modules/qdanalysis
	url = https://github.com/justjude97/qdanalysis.git
